<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
    <div class="container">
        <h1>Login to the Servepapers TechVVS system.</h1>

        <!--@RequestMapping("/studentView")-->
        <form th:action="@{/login/systemuser}" th:object="${systemuser}" method="post">

            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
            <div class="alert alert-info" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>


            <div class="row">

                <div class="col">
                    <input type="text" th:field="*{email}" class="form-control" placeholder="Email" aria-label="Email">
                </div>

                <div class="col">
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Password" aria-label="Password">
                </div>


            </div>

            <button style="margin-top:5px;" type="submit" class="btn btn-primary">Submit</button>

        </form>

        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="https://servepapers.techvvs.io/login/createaccount">Click here to create an account</a>


    </div>


</body>
</html>