<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization Verification</title>
</head>
<body>

    <div class="container">

        <h1>Enter email and request new token. </h1>

        <!--@RequestMapping("/studentView")-->
        <form th:action="@{/auth/requestNewToken}" th:object="${student}" method="post">

            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
            <div class="alert alert-info" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>


            <div class="row">

                <div class="col">
                    <input type="text" th:field="*{studentName}" class="form-control" placeholder="Student Name" aria-label="Student Name">
                </div>

                <div class="col">
                    <input type="date" th:field="*{birthday}" class="form-control" placeholder="Birthday" aria-label="Birthday">
                </div>

            </div>

            <button style="margin-top:5px;" type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


</body>
</html>
