
<div th:fragment="navbarfragment">




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/login">TechVVS</a>
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/?customJwtParameter=__${customJwtParameter}__}">Home</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" th:href="@{/newform?customJwtParameter=__${customJwtParameter}__}">Input New Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/newform/searchProcessData?customJwtParameter=__${customJwtParameter}__}">Search</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

</div>