<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script>
        function hideform(){
            console.log("hideform");


            $("#maincontainer").hide();
            $("#hiddencontainer").show();

        }
        function comparePasswords(){
            console.log("comparePasswords");

            var passinput = $("#passinput").val();
            var confirmpassinput = $("#confirmpassinput").val();
            if(passinput != confirmpassinput){
                $("#hiddencontainerPasswordMsg").show();
            } else {
                $("#hiddencontainerPasswordMsg").hide();
            }



        }

<!--        function validatePhone(){-->
<!--            console.log("validatePhone");-->

<!--            var phoneinput = $("#phoneinput").val();-->
<!--            if(phoneinput.contains('(' || phoneinput.contains(')') || phoneinput.contains('-')){-->
<!--                $("#hiddencontainerPhoneMsg").show();-->
<!--            } else {-->
<!--                $("#hiddencontainerPhoneMsg").hide();-->
<!--            }-->



<!--        }-->

<!--        function validateEmail(){-->
<!--            console.log("validateEmail");-->

<!--            var phoneinput = $("#emailinput").val();-->
<!--            if(emailinput.contains('@') && emailinput.contains('.com')){-->
<!--                $("#hiddencontainerEmailMsg").show();-->
<!--            } else {-->
<!--                $("#hiddencontainerEmailMsg").hide();-->
<!--            }-->



        }



    </script>


</head>
<body>

<br>
<br>
<div id="hiddencontainerPasswordMsg" class="container" style="display:none">
    <div id="passwordsdontmatchdiv" class="alert alert-danger" role="alert">Passwords do not match </div>
</div>
<!--<div id="hiddencontainerPhoneMsg" class="container" style="display:none">-->
<!--    <div  class="alert alert-danger" role="alert">Phone number must contain no special characters ex. 6127438874 </div>-->
<!--</div>-->
<!--<div id="hiddencontainerEmailMsg" class="container" style="display:none">-->
<!--    <div  class="alert alert-danger" role="alert">Email must contain @ and .com </div>-->
<!--</div>-->
<div id="hiddencontainer" class="container" style="display:none">
    <div id="pleasewait" class="alert alert-primary" role="alert">Sending validation email and creating account... </div>
</div>
    <div id="maincontainer" class="container">
        <div class="alert alert-primary" role="alert">Create a new account for the Servepapers TechVVS system</div>
        <!--@RequestMapping("/studentView")-->
        <form th:action="@{/login/createSystemUser}" th:object="${systemuser}" method="post">

            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
            <div class="alert alert-info" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>



            <div class="row">

                <div class="col" style="margin-bottom: 5px;">
                    <input id="phoneinput" onchange="validatePhone()" type="text" th:field="*{phone}" class="form-control" placeholder="Phone" aria-label="Phone">
                </div>

            </div>

            <div class="row">
                <div class="col" style="margin-bottom: 5px;">
                    <input type="text" th:field="*{email}" class="form-control" placeholder="Email" aria-label="Email">
                </div>

            </div>

            <!-- todo: make a secret quesiton -->
            <!-- todo: make a second password field and write clientside and serverside validation onchange() -->
            <div class="row">
                <div class="col" style="margin-bottom: 5px;">
                    <input id="passinput" type="password" th:field="*{password}" class="form-control" placeholder="Password" aria-label="Password">
                </div>
                <div class="col" style="margin-bottom: 5px;">
                    <input id="confirmpassinput" onchange="comparePasswords()" type="password" th:field="*{password2}" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password">
                </div>
            </div>


<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <button style="margin-top:5px;" type="submit" class="btn btn-primary" onclick="hideform()">Submit</button>

        </form>
    </div>


</body>
</html>