<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Form</title>
</head>
<body>



<div th:insert="navbar.html :: navbarfragment"> </div>


<div class="container">



    <h1>Create a new Process Data Form entry in the database.</h1>

    <!--@RequestMapping("/studentView")-->
    <form th:action="@{/newform/createNewProcessData}" th:object="${processdata}" method="post">

        <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
        <div class="alert alert-info" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>


        <div class="row">

            <div class="col">
                <input type="text" th:field="*{filenumber}" class="form-control" placeholder="filenumber" aria-label="filenumber">
            </div>

            <div class="col">
                <input type="text" th:field="*{fname}" class="form-control" placeholder="fname" aria-label="fname">
            </div>

            <div class="col">
                <input type="text" th:field="*{mname}" class="form-control" placeholder="mname" aria-label="mname">
            </div>


            <div class="col">
                <input type="text" th:field="*{lname}" class="form-control" placeholder="lname" aria-label="lname">
            </div>

            <div class="col">
                <input type="number" th:field="*{age}" class="form-control" placeholder="age" aria-label="age">
            </div>

            <div class="col">
                <input type="text" th:field="*{height}" class="form-control" placeholder="height" aria-label="height">
            </div>

            <div class="col">
                <input type="text" th:field="*{height}" class="form-control" placeholder="height" aria-label="height">
            </div>

            <div class="col">
                <input type="text" th:field="*{haircolor}" class="form-control" placeholder="haircolor" aria-label="haircolor">
            </div>

            <div class="col">
                <input type="text" th:field="*{race}" class="form-control" placeholder="race" aria-label="race">
            </div>

            <div class="col">
                <input type="text" th:field="*{phone}" class="form-control" placeholder="phone" aria-label="phone">
            </div>

            <br>
            <br>
            Address
            <br>
            <div class="col">
                <input type="text" th:field="*{address1}" class="form-control" placeholder="address1" aria-label="address1">
            </div>

            <div class="col">
                <input type="text" th:field="*{address2}" class="form-control" placeholder="address2" aria-label="address2">
            </div>

            <div class="col">
                <input type="text" th:field="*{city}" class="form-control" placeholder="city" aria-label="city">
            </div>

            <div class="col">
                <input type="text" th:field="*{state}" class="form-control" placeholder="state" aria-label="state">
            </div>





            <div class="col">
                <input type="text" th:field="*{notes}" class="form-control" placeholder="notes" aria-label="notes">
            </div>


            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>Upload File</h2>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <form method="post" th:action="@{/file/upload}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload File</button>
                    </form>
                </div>
            </div>





        </div>

        <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <button style="margin-top:5px;" type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>


</body>
</html>