<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Form</title>


    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>



<div th:insert="navbar.html :: navbarfragment"> </div>


<div class="container">


    <div class="alert alert-primary" role="alert" >Create a new Process Data Form entry in the database</div>
    <br>



            <form th:action="@{/newform/createNewProcessData?customJwtParameter=__${customJwtParameter}__}" th:object="${processdata}" method="post">

                <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
                <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>



                    <div class="col" style="margin-bottom: 5px;">
                        File Number
                        <input type="text" th:field="*{filenumber}" class="form-control" placeholder="filenumber" aria-label="filenumber">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{fname}" class="form-control" placeholder="fname" aria-label="fname">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{mname}" class="form-control" placeholder="mname" aria-label="mname">
                    </div>


                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{lname}" class="form-control" placeholder="lname" aria-label="lname">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="number" th:field="*{age}" class="form-control" placeholder="age" aria-label="age">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{height}" class="form-control" placeholder="height" aria-label="height">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{haircolor}" class="form-control" placeholder="haircolor" aria-label="haircolor">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{race}" class="form-control" placeholder="race" aria-label="race">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{phone}" class="form-control" placeholder="phone" aria-label="phone">
                    </div>

                    <br>
                    <br>
                    <div class="alert alert-info" role="alert" >Address</div>
                    <br>
                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{address1}" class="form-control" placeholder="address1" aria-label="address1">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{address2}" class="form-control" placeholder="address2" aria-label="address2">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{city}" class="form-control" placeholder="city" aria-label="city">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{state}" class="form-control" placeholder="state" aria-label="state">
                    </div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input type="text" th:field="*{zipcode}" class="form-control" placeholder="zipcode" aria-label="zipcode">
                    </div>



                    <br>
                    <br>
                    <div class="alert alert-info" role="alert" >Notes</div>

                    <div class="col" style="margin-bottom: 5px;">
                        <input style="width:648px;height:163px;" type="text" th:field="*{notes}" class="form-control" placeholder="notes" aria-label="notes">
                    </div>

                    <button style="margin-top:5px;" type="submit" class="btn btn-primary">Submit</button>



            </form>

            <br>
            <br>

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-8 mx-auto">
                    <div class="alert alert-info" role="alert" >Upload a file</div>
<!--                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->

                    <!-- pass the processdata object to the upload file controller to get the correct ID to save it under -->
                    <form method="post" th:object="${processdata}" th:action="@{/file/upload?customJwtParameter=__${customJwtParameter}__}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                            <input type="hidden" th:field="*{filenumber}">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Upload File</button>
                    </form>
                </div>
            </div>





        </div>

</div>


</body>
</html>